* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.footer {
  padding: 20px 0;
  background-color: #5756b9;
  text-align: center;
  color: #fff;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerLinks li {
  display: inline;
}
