.listContainer {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 1em;
  text-align: center;
}

.listItem {
  width: 40%;
  height: 5em;
  padding: 0 0.7em;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em 1em 15px 0.5em;
  border-radius: 25px 25px;
  box-shadow: 3px 4px 7px 3px grey;
  background-color: white;
  cursor: grab;
}
