* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  cursor: default;
}

.Popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 9999;
  max-width: 50rem;
  padding-bottom: 4rem;
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.TaskPopupContainer h3 {
  margin: 0;
  font-size: 28px;
}

.Close {
  font-size: 26px;
  color: rgba(0, 0, 0, 0.8);
  border: none;
  position: absolute;
  background-color: transparent;
  right: 10px;
  top: 10px;
  width: 35px;
  height: 35px;
  border-radius: 20px;
}

.Close:hover {
  background-color: rgba(189, 189, 189, 0.8);
}

.Close svg {
  margin: auto;
  display: block;
}

.TitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.TitleInput {
  text-align: center;
  font-size: 2rem;
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.TitleInput:focus {
  outline: 2px solid rgb(182, 182, 182);
}

.MainField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.DescriptionContainer {
  margin-left: 3rem;
  width: 80%;
}

.DescriptionInput {
  font-size: 16px;
  padding: 5px;
  border: 2px solid transparent;
  resize: none;
  width: 100%;
  height: 30vh;
  border-radius: 5px;
  outline: none;
}

.Focused {
  border-color: rgb(182, 182, 182);
}

.ExtraBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 9rem;
  margin-left: 1rem;
}

.Extra {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ExtraTitle {
  font-size: 14px;
  margin-bottom: 0rem;
}

.ExtraBtn {
  width: 8rem;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 5px 10px 5px 0;
  font-weight: 600;
  background-color: rgb(214, 214, 214);
}

.ExtraBtn:hover {
  background-color: rgb(182, 182, 182);
}

.BtnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 3rem;
}

.SaveBtn,
.DeleteBtn {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 700;
}

.SaveBtn {
  background-color: #d0e1fc;
  margin-right: 10px;
}

.SaveBtn:hover {
  background-color: #a0adc3;
}

.DeleteBtn {
  background-color: #fcd0d0;
  margin-right: 10px;
}

.DeleteBtn:hover {
  background-color: #c5a2a2;
}

@media only screen and (max-width: 800px) {
  .Popup {
    max-width: 26rem;
    padding-bottom: 5rem;
    width: 70%;
    height: 58vh;
  }

  .TitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5px;
  }

  .TitleInput {
    font-size: 1.2rem;
    width: 70%;
    padding: 5px;
    margin-top: 10px;
  }

  .MainField {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .DescriptionTitle {
    display: none;
  }

  .DescriptionContainer {
    margin-left: 0;
    width: 90%;
    margin-top: -1rem;
  }

  .DescriptionInput {
    height: 18vh;
  }

  .ExtraBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1px;
    margin-left: 0;
  }

  .ExtraTitle {
    display: none;
  }

  .Extra {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 18px;
    height: 24vh;
    width: 22.7rem;
  }

  .ExtraBtn {
    height: 2rem;
  }

  .DeadlineBtn,
  .MemberBtn,
  .Extra2Btn {
    width: 14rem;
  }

  .FlexBtn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 0;
  }

  .BtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
}
