::before,
::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
}

/* COLUMN  */
/* styling for when dragging over */
.column {
  background-color: #eb8cac;
  height: 80vh;
  width: 30vw;
  margin: 0.3em;
  border-radius: 10px;
  padding: 1em;
  overflow: auto;
}

.active-column {
  background-color: #a25f75;
  height: 80vh;
  width: 30vw;
  margin: 0.3em;
  border-radius: 10px;
  padding: 1em;
  overflow: auto;
}

/* styling for dragging the tasks */
.drop {
  margin-top: 1px;
  height: 5px;
  width: auto;
  background-color: pink;
  opacity: 0;
}

.active-drop {
  margin-top: 1px;
  height: 5px;
  width: auto;
  background-color: pink;
  opacity: 1;
}
